/*******************************************
/* font-family: 'Montserrat', sans-serif; */
/* Colors: #d8ebe4 #282846 #007580 #fed049 khaki */
/*******************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007580;
}

.headingMain a {
  text-decoration: none;
  color: #1b2021;
}

h1 {
  color: #1b2021;
  transition: 2s;
}

.mySidebar a:hover {
  color: #fed049;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  color: #007580;
}

.col {
  margin-right: 70px;
  text-align: justify;
  width: 70%;
  margin-bottom: 50px;
}

/* 
Search Engine 
*/

.formHeader input {
  border: 1px solid #d8ebe4;
  border-radius: 2px;
  padding: 2px 5px;
}

.formHeader {
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
}

.formHeader input[type="text"] {
  width: 80px;
  text-align: right;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
.formHeader input[type="text"]:focus {
  width: 80%;
  background-color: #fed049;
  color: #007580;
}

.fa-searchengin {
  font-size: large;
  color: #007580;
}
/*#d8ebe4 #282846 #007580 #fed049*/

/*
Sidebar
*/
#mySidebar {
  display: none;
  width: 180px;
  height: 100%;
  padding: 10px 20px 5px 40px;
  line-height: 1em;
  text-align: left;
  background-color: #d8ebe4;
  position: fixed;
  z-index: 1;
  transition: 2s;
}

.socials {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

header {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8ebe4;
}

.headingMain {
  border-right: 1px solid #d8ebe4;
  box-sizing: border-box;
  height: 100%;
  padding: 0 27% 0 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button:hover {
  background-color: #fed049;
  border-radius: 50%;
}

.sidebarAnimation {
  animation-name: colorPulsate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes colorPulsate {
  0% {
    filter: drop-shadow(3px 3px #fed049);
  }
  50% {
    filter: drop-shadow(3px 3px white);
  }
  100% {
    filter: drop-shadow(3px 3px #fed049);
  }
}

.sidebarToggle {
  border: none;
  background: none;
}

/* 
MAIN 
*/
main .row {
  display: flex;
  justify-content: space-between;
  padding: 70px 200px 0 200px;
}

/* Cards */
.card {
  margin: 10px 0;
  border: 1px solid #007580;
  box-sizing: border-box;
  width: 210px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px #fed049;
}

div .cardTitle,
.cardTitleHigh,
.cardTitleLow {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

div .cardTitle {
  top: 25px;
}

div .cardTitleLow {
  top: 40px;
}

div .cardTitleHigh {
  top: 15px;
}

/* Card Background Images */
.cardDrinkIt,
.cardBuyIt,
.cardMakeIt,
.cardAboutTt,
.cardSubmitIt,
.cardKickIt,
.cardAbout,
.cardSubmit,
.cardKick,
.coffeespritz,
.mulled-apple-juice,
.cheatsginger,
.lyresImage,
.brunswickAces,
.seedlip,
.sobah,
.heapsnormal,
.nort,
.billabongred,
.tost,
.maggiebeer,
.carwyncellars,
.blackhearts,
.mrwest {
  background-size: cover;
}

.cardDrinkIt,
.cardBuyIt,
.cardMakeIt,
.cardAboutTt,
.cardSubmitIt,
.cardKickIt {
  opacity: 0.9;
}

.cardDrinkIt {
  background-image: url("../images/wheretodrink.jpeg");
  background-position-x: -110px;
}

.cardBuyIt {
  background-image: url("../images/pay-jack-sparrow-4199585.jpg");
}

.cardMakeIt {
  background-image: url("../images/spritz-charlotte-may-5947111.jpg");
}

.cardAboutTt {
  background-image: url("../images/friends-elly-fairytale-4833957.jpg");
  background-position-x: -60px;
}

.cardSubmitIt {
  background-image: url("../images/eggnogg-charlotte-may-5947062.jpg");
}

.cardKickIt {
  background-image: url("../images/kick-ketut-subiyanto-4473314.jpg");
}

/* end home page cards */
/* start image cards */

.cardAbout {
  background-image: url("../images/picnic-aline-viana-prado-3491680.jpg");
}

.cardSubmit {
  background-image: url("../images/submit-gary-barnes-6231611.jpg");
}

.cardKick {
  background-image: url("../images/kick-ketut-subiyanto-4473314.jpg");
}

.coffeespritz {
  background-image: url("../images/coffeespritz.jpeg");
  background-position-y: -9px;
}

.mulled-apple-juice {
  background-image: url("../images/mulled-tijana-drndarski-3338676.jpg");
}

.cheatsginger {
  background-image: url("../images/ginger-joris-neyt-1337585.jpg");
  background-position-x: -10px;
}

.lyresImage {
  background-image: url("../images/lyres.png");
  background-position-x: -42px;
}

.brunswickAces {
  background-image: url("../images/brunswickaces.png");
  background-position-x: -42px;
}

.seedlip {
  background-image: url("../images/seedlip.jpeg");
  background-position-x: -20px;
}

.sobah {
  background-image: url("../images/sobah.jpeg");
  background-position-x: -15px;
  background-position-y: -10px;
}

.heapsnormal {
  background-image: url("../images/heapsnormal.png");
  background-position-x: -25px;
}

.nort {
  background-image: url("../images/nort.jpeg");
  background-position-x: -45px;
}

.billabongred {
  background-image: url("../images/billabongred.jpeg");
  background-size: cover;
}

.tost {
  background-image: url("../images/tost.jpeg");
  background-position-x: -45px;
}

.maggiebeer {
  background-image: url("../images/maggiebeer.png");
  background-position-x: -20px;
}

.carwyncellars {
  background-image: url("../images/carwyncellars.jpeg");
  background-position-x: -100px;
}

.blackhearts {
  background-image: url("../images/blackhearts.jpeg");
  background-position-x: -20px;
}

.mrwest {
  background-image: url("../images/mrwest.jpeg");
  background-repeat: no-repeat;
}

/* Card Shapes */
#circle {
  width: 110px;
  height: 110px;
  background: #fed049;
  border-radius: 50%;
}

#square {
  width: 100px;
  height: 100px;
  background: #fed049;
}

#hexagon {
  width: 120px;
  height: 67.735px;
  background: #fed049;
  position: relative;
}
#hexagon::before {
  content: "";
  position: absolute;
  top: -38.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 38.8675px solid #fed049;
}
#hexagon::after {
  content: "";
  position: absolute;
  bottom: -38.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 38.8675px solid #fed049;
}

#cut-diamond {
  border-style: solid;
  border-color: transparent transparent #fed049 transparent;
  border-width: 0 35px 35px 35px;
  height: 0;
  width: 60px;
  box-sizing: content-box;
  position: relative;
  margin: 30px 0 60px 0;
}
#cut-diamond:after {
  content: "";
  position: absolute;
  top: 35px;
  left: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fed049 transparent transparent transparent;
  border-width: 80px 65px 0 65px;
}

#shapeDiamond {
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-bottom-color: #fed049;
  position: relative;
  top: -65px;
}
#shapeDiamond:after {
  content: "";
  position: absolute;
  left: -65px;
  top: 65px;
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-top-color: #fed049;
}

#shapeHeart {
  position: relative;
  width: 120px;
  height: 110px;
}
#shapeHeart:before,
#shapeHeart:after {
  position: absolute;
  content: "";
  left: 60px;
  top: 0;
  width: 60px;
  height: 100px;
  background: #fed049;
  border-radius: 40px 40px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#shapeHeart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* Card Shape Flip */

.flip-out-hor-top:hover {
  -webkit-animation: flip-out-hor-top 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}

/* Footer */
footer p {
  font-size: small;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  padding-bottom: 50px;
}

/* subscription banner */
.subscription {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px 0 50px;
  background-color: #fed049;
  color: #007580;
}

.closeSubscription {
  display: flex;
  justify-content: space-between;
}

.close {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 17px;
}

.scroll-left {
  height: 50px;
  overflow: hidden;
}
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 25s linear infinite;
  -webkit-animation: scroll-left 25s linear infinite;
  animation: scroll-left 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

/* kick it css */

.logo {
  height: 100px;
  float: left;
  margin-right: 20px;
}

.charityBlock {
  margin-top: 40px;
}

/* search css */

.searchFindingsBox {
  border: 1px solid #007580;
}

/* brands/buy css */
h4 {
  text-align: center;
  color: #007580;
}

.brandsNav,
.locationNav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.brandsNav,
.locationNav a:hover {
  color: #fed049;
}

/* recipe pages */
.notes {
  font-size: small;
}

/* Submit it forms page */

ul.submitBullets {
  list-style: disc;
  margin-left: 20px;
}

form.submitForm {
  margin: 20px 0;
  border: 1px solid #007580;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
}

#fname,
#lname,
#email,
#subscribe {
  margin-bottom: 15px;
  margin-left: 5px;
}

#fname,
#lname,
#email {
  width: 50%;
}

#suggestion {
  margin-top: 5px;
  width: 100%;
  margin-bottom: 15px;
}

button#submitItButton {
  margin-top: 10px;
  padding: 5px 40px;
  background: #fed049;
  border: 1px solid #007580;
  border-radius: 15px;
}

button#submitItButton:hover {
  background: #d8ebe4;
}

/* bar locations */
#map {
  height: 100%;
  border: 1px solid #007580;
  border-radius: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.rowTopMaps {
  margin-top: 200px;
}

.barlocalcard {
  font-size: 0.8rem;
  text-align: left;
  display: block;
  padding: 0 20px;
}

.barsSml {
  height: 100px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* brand beer cards size*/
.beer h4 {
  width: 210px;
}

@media only screen and (max-width: 815px) {
  .row {
    flex-direction: column;
  }
}

/*@media screen and (max-width: 800px) {
  .mySidebar {
    flex-direction: column;
  }
}*/
